/* typography classes*/

.font-baloo {
  font-family: $font-baloo;
}

.font-rale {
  font-family: $font-raleway;
}

.font-rubik {
  font-family: $font-rubik;
}
.ts-12 {
  font-size: 12px;
}

.ts-14 {
  font-size: 14px;
}
.ts-16 {
  font-size: 14px;
}

.ts-20 {
  font-size: 14px;
}
